table {
  width: 100%;
}

mat-toolbar{
  margin-top: 2.2rem;
}

.loading-spinner{
  background-color: rgb(243, 243, 243);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}
